body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  margin: 1rem 1rem 2rem;
}

header .container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: 500px) {
  header .container {
    grid-template-columns: auto;
  }
}

.nav-link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;

  background-color: #f3f3f3;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
  outline: none;
}
