<!DOCTYPE html>
<html>
  <head>
    <title><%= uitext.blog_title %></title>
  </head>
  <body>
    <h1><%= uitext.blog_title %></h1>
    <p>There is no content for this article as the CMS is basic</p>
  </body>
</html>
